.DS_Store
.Vagrantfile.swp
thumbs.db
*.log
.vagrant/
.idea/
.sass-cache/
.tmp/
sitemap.xml
sitemap.xml.gz
node_modules/
public/readme.html
public/sitemap.xml
public/sitemap.xml.gz
public/wp-config.php
public/wp-content/advanced-cache.php
public/wp-content/backup-db/
public/wp-content/backups/
public/wp-content/blogs.dir/
public/wp-content/cache/
public/wp-content/upgrade/
public/wp-content/uploads/
public/wp-content/wp-cache-config.php
public/wp-content/themes/salient-child/node_modules
public/vendor
package-lock.json