/** Headings **/
body #page-header-bg h1, html body .row .col.section-title h1, .nectar-box-roll .overlaid-content h1 {
  font-size: 30px !important;
}

.container .row .wpb_text_column h3 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 15px;
}

.container .row .wpb_text_column h2 {
  font-size: 27px;
  line-height: 40px;
  margin-bottom: 15px;
}
