/** Home Header **/

body #header-secondary-outer nav > ul > li > a {
  padding: 0 10px !important;
  line-height: 35px !important;
  font-size: 14px !important;
  font-weight: bold;
}
.home .nectar_video_lightbox.play_button {
  margin: 10px 0;
}